body {
  background-color: black;
  color: white;
}

/* 
flex container 의 flex-direction 기본값은 row 
align-items 의 기본값을 flex-start
*/
.wrapper {
  display: flex;
  justify-content: space-around;
}

.wrapper2 {
  display: flex;
  justify-content: center;
}

.wrapper3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  border: 1px solid white;
}

.wrapper4 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 50vh;
  border: 1px solid white;
}

.wrapper5 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 50vh;
  border: 1px solid white;
}

.wrapper6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  border: 1px solid white;
}

.wrapper7 {
  display: flex;
  justify-content: space-around;
  height: 50vh;
  border: 1px solid white;
}

.wrapper8 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: flex-start;
  height: 50vh;
  border: 1px solid white;
  flex-wrap: wrap;
}

.box,
.box3,
.box4,
.box5,
.box6 {
  background-color: peru;
  height: 200px;
  width: 200px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.box2 {
  background-color: cadetblue;
  width: 200px;
  margin-bottom: 2px;
}

.box3:nth-child(2) {
  align-self: center;
}

.box3:nth-child(3) {
  align-self: flex-end;
}

.box4:nth-child(2) {
  order: 1;
}

.box5:nth-child(2) {
  flex-shrink: 2;
  background-color: cadetblue;
}

.box6:nth-child(2) {
  background-color: cadetblue;
  flex-grow: 1;
}
