body {
  background-color: black;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 100px 50px 300px;
  column-gap: 10px;
  row-gap: 10px;
}

.child {
  background-color: peru;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  /* grid-template-columns: 200px 200px 200px 200px; */
  grid-template-rows: repeat(4, 200px);
  /* grid-template-rows: 200px 200px 200px 200px; */
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}

.grid2 {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  color: white;
}

.header {
  background-color: #2ecc71;
  grid-area: header;
}
.content {
  background-color: #3498db;
  grid-area: content;
}

.nav {
  background-color: #8e44ad;
  grid-area: nav;
}

.footer {
  background-color: #f39c12;
  grid-area: footer;
}

.header2 {
  background-color: #2ecc71;
  grid-column-start: 1;
  grid-column-end: 5;
}
.content2 {
  background-color: #3498db;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.nav2 {
  background-color: #8e44ad;
  grid-row-start: 2;
  grid-row-end: 4;
}

.footer2 {
  background-color: #f39c12;
  grid-column-start: 1;
  grid-column-end: 5;
}
